<tr class="event js-event {{ event_classes }}" data-id="{{ event.id }}">
  <td title="Title"
      class="event-field js-field js-field-title eventTitle"
      tabindex="0"
      contenteditable="{{ editable }}"
      data-value="{{ event.title }}"
      >{{ event.title|default:"&mdash;" }}</td>
  <td title="Event Type"
      class="event-field eventType"
      data-value="{{ event.type }}">
    <div>
      <span
          class="event-type js-field js-field-type event-type-{{ event.metadata.type|default:"none"|lower }}"
          tabindex="0"
          >{{ event.metadata.type|default:"&mdash;" }}</span>
    </div>
  </td>
  <td class="event-field js-date-time-cell eventDateTime">
      {% block date_time_start %}
      {% endblock date_time_start %}
      <span title="{{ event.start|date:"l jS F " }}">
        {% spaceless %}
        {% with rel_date=event.relative_term_date %}
        <span>W </span>
        <span data-value="{{ rel_date.2 }}" class="js-field-week">{{ rel_date.2 }}</span>
        <span> in </span>
        <span data-value="{{ rel_date.1|capfirst }}" class="js-field-term">{{ rel_date.1|capfirst }}</span>
        <span>, on </span>
        <span data-value="{{ rel_date.3 }}" class="js-field-day">{{ rel_date.3|capfirst }}</span>
        <span>&nbsp;</span>
        {% endwith %}
      </span>
      <span class="js-field-start-hour">{{ event.start_local.hour|stringformat:".2d" }}</span>
      <span>:</span>
      <span class="js-field-start-minute">{{ event.start_local.minute|stringformat:".2d" }}</span>
      <span>&ndash;</span>
      <span class="js-field-end-hour">{{ event.end_local.hour|stringformat:".2d" }}</span>
      <span>:</span>
      <span class="js-field-end-minute">{{ event.end_local.minute|stringformat:".2d" }}</span>
      {% endspaceless %}
      {% block date_time_end %}
      {% endblock date_time_end %}
  </td>
  <td title="Location" class="event-field js-field js-field-location eventLocation" tabindex="0"
      data-value="{{ event.location }}"
      contenteditable="{{ editable }}"
      >{{ event.location|default:"&mdash;" }}</td>
  <td title="Lecturer/host/etc" class="event-field js-field js-field-people eventLecturers" tabindex="0"
      data-value="{{ event.metadata.people|join:", " }}"
      contenteditable="{{ editable }}"
      >{{ event.metadata.people|join:", "|default:"&mdash;" }}</td>
  {% block event_right %}
  {% endblock event_right %}
</tr>