{% extends "administrator/timetableList/fragModuleRead.html" %}


{% block module_title_right %}
<ul class="buttons js-module-buttons pull-left">
  <li class="pull-left">
    <a href="#" class="icon-pencil notImplemented js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
  </li>
  <li class="pull-left">
    <a href="#" class="icon-plus-sign notImplemented" title="attach"><span class="hideMe">attach</span></a>
  </li>
  <li class="pull-left">
    <a href="#" class="icon-file notImplemented" title="duplicate"><span class="hideMe">duplicate</span></a>
  </li>
  <li class="pull-left">
    <a href="#" class="icon-trash notImplemented" title="remove"><span class="hideMe">remove</span></a>
  </li>
</ul>
{% endblock module_title_right %}


{% block before_series %}
  <a href="#" class="btn addSeries notImplemented"><span class="icon-plus"></span>Add series</a>
{% endblock before_series %}


{% block series %}
{% include "administrator/timetableList/fragSeriesWrite.html" %}
{% endblock series %}
