<div class="module js-module">
  <div class="moduleHeading clearfix">
    <h4 class="pull-left">
      <a href="javascript:;" data-toggle="collapse" data-target="#module-{{ module.unique_id }}-content">
        <span class="icon-chevron-down js-expansion-indicator"></span>{{ module.name }}
      </a>
    </h4>
    {% block module_title_right %}
    {% endblock module_title_right %}
  </div>
  <div class="moduleContent module-content js-module-content collapse in" id="module-{{ module.unique_id }}-content">
    {% block before_series %}
    {% endblock before_series %}
    <div class="seriesList">
    {% for series in module.series %}
      {% block series %}
      {% include "administrator/timetableList/fragSeriesRead.html" %}
      {% endblock series %}
    {% empty %}
      <p>This module contains no series.</p>
    {% endfor %}
    </div>
  </div>
</div>
