{% extends "administrator/timetableList/fragEventRead.html" %}


{% block date_time_start %}
<span class="js-focus-catcher js-focus-catcher-before" tabindex="0"></span>
{% endblock date_time_start %}


{% block date_time_end %}
<div class="dialog-holder js-dialog-holder"></div>
<span class="js-focus-catcher js-focus-catcher-after" tabindex="0"></span>
{% endblock date_time_end %}


{% block event_right %}
  <td class="eventActions" tabindex="5">
    <ul class="buttons">
      <li>
        <a href="javascript:;" class="icon-pencil edit js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
      </li>
      <li>
        <a href="#" class="icon-plus-sign notImplemented" title="attach"><span class="hideMe">attach</span></a>
      </li>
      <li>
        <a href="#" class="icon-file duplicate notImplemented" title="duplicate"><span class="hideMe">duplicate</span></a>
      </li>
      <li>
        <a href="#" class="icon-trash remove notImplemented" title="remove"><span class="hideMe">remove</span></a>
      </li>
    </ul>
  </td>
{% endblock event_right %}
