{% extends "administrator/timetableBase.html" %}


{% block javascript_module %}timetable-list-read{% endblock javascript_module %}


{% block additional_navigation %}
<li class="nav-label" title="You have permission to view, but not edit the items in this page.">
  <span class="icon-lock"></span>
  <em>View only</em>
</li>
{% endblock additional_navigation %}


{% block timetable_content %}
<div class="modulesList">
{% for module in modules %}
  {% block timetable_module %}
  {% include "administrator/timetableList/fragModuleRead.html" %}
  {% endblock timetable_module %}
{% endfor %}
</div>

<div class="modal changesNotificationPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close dontSendNotification">&times;</a>
    <h3>Send email notification</h3>
  </div>
  <div class="modal-body">
    <p>Your changes have been saved successfully.</p>
    <p>Do you want to send an email notification to people affected by the change?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="dontSendNotification">Don't send notification</a>
    <a href="#" class="btn btn-primary sendNotifcation notImplemented">Send notification</a>
  </div>
</div>

<div class="modal formServerErrorPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Oops, something went wrong</h3>
  </div>
  <div class="modal-body">
    <p>Apparently something went wrong whilst saving.</br>Please try again later.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal formValidationErrorPopup hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Oops, something went wrong</h3>
  </div>
  <div class="modal-body">
    <p>It looks like you missed some fields.<br/>Please fill out any missing fields and hit save again</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>

{# Shows a progress bar when loading, or an error msg when failed #}
<div class="js-loading-indicator-prototype js-loading-indicator loading-indicator" style="display: none;">
  <div class="loading" style="display: none;">

    <strong>Loading events...</strong>
    <div class="loading-indicator-content">
      <div class="progress progress-striped active">
        <div class="bar" style="width: 40%;"></div>
      </div>
    </div>
    
  </div>
  <div class="error">
    <strong>Events could not be loaded</strong>
    <div class="loading-indicator-content">
      <button class="js-retry-btn btn">
        Try again
      </button>
    </div>
  </div>
</div>
{% endblock timetable_content %}
