{% extends "administrator/timetableList/read.html" %}


{% block javascript_module %}timetable-list-write{% endblock javascript_module %}


{% block additional_navigation %}
{% endblock additional_navigation %}


{% block timetable_module %}
{% include "administrator/timetableList/fragModuleWrite.html" %}
{% endblock timetable_module %}


{% block additional_modals %}
<div class="js-date-time-dialog dialog dialog-date-time datePatternDialog popover bottom"
    style="display: none;">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-title clearfix">
      <h3 class="pull-left">When does this event take place?</h3>
      <a href="#" class="close js-close-btn" tabIndex="-1">&times;</a>
    </div>
    <div class="popover-content form-inline">
      <div class="date-time-form-row">
        <label for="date-time-week">Week</label>
        <input type="number" name="date-time-week" id="date-time-week"
           value="1"
           class="js-week input-mini eventDateTimeWeek"/>

        <label for="date-time-term">in</label>
        <select id="date-time-term" name="date-time-term">
          <option name="michaelmas">Michaelmas</option>
          <option name="lent">Lent</option>
          <option name="easter">Easter</option>
        </select>
      </div>
      <div class="date-time-form-row">
        <label for="date-time-days">on</label>
        <select id="date-time-days" name="date-time-days">
          <option name="thu">Thursday</option>
          <option name="fri">Friday</option>
          <option name="sat">Satarday</option>
          <option name="sun">Sunday</option>
          <option name="mon">Monday</option>
          <option name="tue">Tuesday</option>
          <option name="wed">Wednesday</option>
        </select>
      </div>

      <div class="date-time-form-row">
        <label for="date-time-from-hour">From</label>
        <input type="number"
            value="09"
            class="input-mini hours"
            name="date-time-from-hour"
            id="date-time-from-hour"
            min="-1" max="24">
        <input type="number"
              value="00"
              class="input-mini minutes"
              name="date-time-from-minute"
              id="date-time-from-minute"
              min="-15" max="60" step="15">

        <label for="date-time-to-hour">To</label>
        <input type="number"
            value="10"
            class="input-mini hours"
            name="date-time-to-hour"
            id="date-time-to-hour"
            min="-1" max="24">
        <input type="number"
            value="00"
            class="js-end-minute input-mini minutes"
            name="date-time-to-minute"
            id="date-time-to-minute"
            min="-15" max="60" step="15">
      </div>
    </div>
  </div>
</div>
{% endblock additional_modals %}