{% macro dataset_ops(dataset) -%}
    {% for op in dataset.operations %}
        <span class="op">
            {{ op.description }}
        </span>
    {% else %}
        Root
    {% endfor %}
{%- endmacro %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
    </head>
    <body class="container">
        <h1>Timetable Stats</h1>

        <ol class="breadcrumb">
            {% for dataset in datasets %}
            
                {% if dataset == stats.dataset %}
                <li class="active">
                    {{ dataset_ops(dataset) }}
                </li>
                {% else %}
                <li>
                    <a href="{{ dataset|dataset_filename }}">
                        {{ dataset_ops(dataset) }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ol>

        <h2>Stats</h2>
        {% block stats %}
        <dl>
            {% for name, value in stats.stats.iteritems() %}
            <dt>{{ name }}</dt>
            <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
        {% endblock stats %}

        <h2>Drill down</h2>
        {% for name, all_substats in stats.drilldowns.iteritems() %}
            <h3>{{ name }}</h3>
            {% if all_substats %}
                {% if all_substats.0.dataset.operations.0.type == "filter" %}
                    <ul class="list-group">
                    {% for substats in all_substats %}
                        <li class="list-group-item">
                            <a href="{{ substats.dataset|dataset_filename }}">{{ substats.dataset.operations.0.filter_value }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {# Pivot #}
                    <p><a href="{{ all_substats.0.dataset|dataset_filename }}">{{ all_substats.0.dataset.operations.0.description }}</a></p>
                {% endif %}
            {% else %}
                &mdash;
            {% endif %}
        {% endfor %}
    </body>
</html>
