# Compiled Python files
*.pyc

# SQLite databases etc
app/django/timetables.db

# Annoying OSX files
.DS_Store

# Vim swap files
*.swp

# Eclipse files
.project
.pydevproject
.settings

# Personal/local settings files
app/local_settings.py
app/personal_settings.py

# Non-local config files
local/

# Assembled static files
app/django/collected_static_files
app/django/media


# Ignore Sublime Text project files
*.sublime-project
*.sublime-workspace

# Node modules
app/node_modules

# Front-end Build
app/static-build

# Tsung cruft
erl_crash.dump
app/scripts/load-testing/tsung/logs/
