<!-- ## If results are empty -->
<!--
<p>Your modules will appear here</p>
-->
<div id="resultsHead">
	<h3>Found 13 modules</h3>
</div>

<ul id="resultsList">
	<!--
	<li class="clearfix course">
		<h5 class="pull-left">Language classes</h5>
		<div class="pull-right clearfix">
			<a class="pull-left more" href="#">more</a>
			<a href="#" class="pull-left btnAddSingleLecture btn btn-add">Add</a>
		</div>
		<ul class="courseMoreInfo">
			<li class="courseSeries clearfix">
				<div class="pull-left">
					<h5>An introduction to the language of 16th Century texts.</h5>
    				<span class="courseDatePattern">W1</span>
    				<span class="courseLocation">Sidgiwck Av.</span><br/>
    				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
				</div>
				<a href="#" class="btn pull-right btn-add">Add</a>
			</li>
			<li class="courseSeries clearfix">
				<div class="pull-left">
					<h5>An introduction to the language of 16th Century texts.</h5>
    				<span class="courseDatePattern">W1</span>
    				<span class="courseLocation">Sidgiwck Av.</span><br/>
    				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
				</div>
				<a href="#" class="btn pull-right btn-add">Add</a>
			</li>
		</ul>
	</li>
	<li class="clearfix course">
		<h5 class="pull-left">Early Modern French</h5>
		<div class="pull-right clearfix">
			<a class="pull-left more" href="#">more</a>
			<a href="#" class="pull-left btnAddSingleLecture btn btn-add">Add</a>
		</div>
		<ul class="courseMoreInfo">
			<li class="courseSeries clearfix">
				<div class="pull-left">
					<h5>An introduction to the language of 16th Century texts.</h5>
    				<span class="courseDatePattern">W1</span>
    				<span class="courseLocation">Sidgiwck Av.</span><br/>
    				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
				</div>
				<a href="#" class="btn pull-right btn-add">Add</a>
			</li>
			<li class="courseSeries clearfix">
				<div class="pull-left">
					<h5>An introduction to the language of 16th Century texts.</h5>
    				<span class="courseDatePattern">W1</span>
    				<span class="courseLocation">Sidgiwck Av.</span><br/>
    				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
				</div>
				<a href="#" class="btn pull-right btn-add">Add</a>
			</li>
		</ul>
	</li>
	<li class="courseSeries clearfix">
		<div class="pull-left">
			<h5>An introduction to the language of 16th Century texts.</h5>
			<span class="courseDatePattern">W1</span>
			<span class="courseLocation">Sidgiwck Av.</span><br/>
			<span class="courseLecturer">Dr. W. Bennett, French IA</span>
		</div>
		<a href="#" class="btn pull-right">Add btn-add</a>
	</li>
	<li>
        <h4 class="btn-inverse clearfix">Physics <span class="pull-right">choose from&hellip;</span></h4>
        <ul class="courseList">
        	<li class="clearfix">
        		<h5 class="pull-left">Course A</h5>
        		<div class="pull-right clearfix">
        			<a class="pull-left more" href="#">more</a>
        			<a href="#" class="pull-left btnAddSingleLecture btn btn-add">Add</a>
        		</div>
        		<ul class="courseMoreInfo">
        			<li class="courseSeries clearfix">
    					<div class="pull-left">
    						<h5>An introduction to the language of 16th Century texts.</h5>
            				<span class="courseDatePattern">W1</span>
            				<span class="courseLocation">Sidgiwck Av.</span><br/>
            				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
    					</div>
    					<a href="#" class="btn pull-right btn-add">Add</a>
        			</li>
        			<li class="courseSeries clearfix">
    					<div class="pull-left">
    						<h5>An introduction to the language of 16th Century texts.</h5>
            				<span class="courseDatePattern">W1</span>
            				<span class="courseLocation">Sidgiwck Av.</span><br/>
            				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
    					</div>
    					<a href="#" class="btn pull-right btn-add">Add</a>
        			</li>
        		</ul>
        	</li>
        	<li class="clearfix">
        		<h5 class="pull-left">Course B</h5>
        		<div class="pull-right clearfix">
        			<a class="pull-left more" href="#">more</a>
        			<a href="#" class="pull-left btnAddSingleLecture btn btn-add">Add</a>
        		</div>
        		<ul class="courseMoreInfo">
        			<li class="courseSeries clearfix">
    					<div class="pull-left">
    						<h5>An introduction to the language of 16th Century texts.</h5>
            				<span class="courseDatePattern">W1</span>
            				<span class="courseLocation">Sidgiwck Av.</span><br/>
            				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
    					</div>
    					<a href="#" class="btn pull-right btn-add">Add</a>
        			</li>
        			<li class="courseSeries clearfix">
    					<div class="pull-left">
    						<h5>An introduction to the language of 16th Century texts.</h5>
            				<span class="courseDatePattern">W1</span>
            				<span class="courseLocation">Sidgiwck Av.</span><br/>
            				<span class="courseLecturer">Dr. W. Bennett, French IA</span>
    					</div>
    					<a href="#" class="btn pull-right btn-add">Add</a>
        			</li>
        		</ul>
        	</li>
        </ul>
    </li>
	-->
</ul>