{% load staticfiles %}

<!doctype html>
	<head>
		<title>Timetables</title>

		<link rel="stylesheet" href="{% static "css/libs/bootstrap/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/libs/fullcalendar/fullcalendar.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />

        <script data-main="{% static "js/main.js" %}" data-page-module="index" src="{% static "js/libs/require.js" %}"></script>
	</head>
	<body>
        <h1>Hello World!</h1>
	</body>
</html>
