{% extends "index.html" %}
{% load staticfiles %}
{% block pagecontrols %}
			<div id="inputArea">
				<div class="clearfix">
				</div>
			</div>

			<!-- ## USER NOT LOGGED IN -->
			
			<div id="actionsContainer">
					{% include "student/actionsContainer.html" %}
			</div>
{% endblock %}
{% block calendarinfo %}
		{% include "student/calendarEventInfo.html" %}
		<div id="content" class="clearfix">

			<div id="calendarHolder" class="pull-right fullWidthCalendar" >
				{% include "student/calendarHolder.html" %}
			</div>
		</div>
{% endblock %}