{% load staticfiles %}
{% load url from future %}
<!doctype html>
	<head>
		<title>Timetables</title>

		<link rel="stylesheet" href="{% static "css/libs/bootstrap/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/libs/bootstrap/bootstrap-datepicker.css" %}" />
		<link rel="stylesheet" href="{% static "css/libs/bootstrap/bootstrap-timepicker.css" %}" />
		<link rel="stylesheet" href="{% static "css/libs/fullcalendar/fullcalendar.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />

        
    	<script data-main="{% static "js/main.js" %}" data-page-module="{% block module %}studentIndex{% endblock %}" src="{% static "js/libs/require.js" %}"></script>
        
	</head>
	<body id="{% block bodyid %}student{% endblock %}">
	    <!--  this tag contains information about the current user. If there is a better way 
	    of doing this please feel free, but remember to search the codebase for userinfo -->
{% block userinfo %}
	    <div id="userinfo" style="display:none" 
	    	userid="{% if loggedin %}{{ user.username }}{% else %}public{% endif %}" 
	    	userrole="student"
	    	class="dontDisplayMe">
	        {# used for ajax post operations, I prefer this to the cookie method. #}
	        {% csrf_token %}
        </div>
{% endblock %}
    	<header id="mainHeader">
			<div id="uniLogo">
				<h1><a href="http://www.cam.ac.uk" target="_blank"><span class="hideMe">University of Cambridge</span></a></h1>

{% block viewcontrol %}
{% endblock %}			
			</div>

{% block pagecontrols %}
			<div id="inputArea">
				{% include "student/inputArea.html" %}
			</div>

			<!-- ## USER NOT LOGGED IN -->
			
			<div id="actionsContainer">
				{% include "student/actionsContainer.html" %}
			</div>
{% endblock %}			

			<!-- ## USER LOGGED IN -->
			<!--
			<div id="actionsContainer">
				<div class="pull-right">
					<a href="#" class="btn btn-primary">Save</a>
					<a href="#" class="btn btn-primary">Export to calendar</a>
				</div>
			</div>
			-->
		</header>

		<!--
		<div class="alertHolder">
			<div class="alert alert-block alert-success">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<h4>Get started</h4>
				Tell us what year you are in and what you are studying to start your custom timetable.
			</div>
		</div>
		-->
		<!--
		<div class="alertHolder">
			<div class="alert alert-block alert-success clearfix">
				<button type="button" class="close" data-dismiss="alert">x</button>
				<h4>Already have a timetable?</h4>
				Sign-in to see your timetable and make changes
				<a href="#" class="btn btn-success pull-right">Sign in</a>
			</div>
		</div>
		-->

		<div class="modal hide fade in" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		    <h3 id="signinLabel">Already have a timetable or want one ?</h3>
		  </div>
		  <div class="modal-body">
				Sign-in to see your timetable and make changes
				<a href="{% url "login url" %}" class="btn btn-success pull-right">Sign in</a>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>

		<div class="modal hide fade in" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		    <h3 id="errorLabel">Ooops !</h3>
		  </div>
		  <div class="modal-body">
	  			Oh No, something went wrong. If keeps happening, please do tell us.
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>

{% block calendarinfo %}
		{% include "student/calendarEventInfo.html" %}
		<div id="content" class="clearfix">
			<div id="results" class="pull-left">
				{% include "student/resultsPanel.html" %}
			</div>

			<div id="calendarHolder" class="pull-right">
				{% include "student/calendarHolder.html" %}
			</div>
		</div>
{% endblock %}
		
	</body>
</html>
