{% extends "base.html" %}
{% load url from future %}
{% load timetables %}

{% block javascript_index %}index-student{% endblock javascript_index %}

{% block top_bar %}
<div id="inputArea">
  <div class="clearfix js-modules-selector">
    <div role="search" class="pull-left">
      <label for="iAmInput" class="pull-left">I am studying</label>
    
      <select id="iAmInput" class="pull-left js-module-select">
        <option value="" disabled="disabled" selected="selected">Choose a subject</option>
        {% include "subject-picker.html" %}
      </select>

      <label for="courseSelect" class="aural-text">Choose a part</label>
      <select id="courseSelect" name="course" class="pull-left js-part-select">
        <option value="" disabled="disabled" selected="selected">Choose a part</option>
      </select>
    </div>

    <div class="user pull-right">
    {% if user_logged_in %}
      <!-- <span class="status">Signed in as {{ request.user.username }}</span> -->
      <a href="{% url "logout url" %}?next={% url "home" %}" class="btn btn-primary js-sign-out">Sign out</a>
    {% else %}
      <a href="{% url "login url" %}?next={% url "home" %}" class="btn btn-primary js-sign-in">Sign in</a>
    {% endif %}
    </div>
  </div>
</div>
{% endblock top_bar %}

{% block content %}
<!-- ## USER NOT LOGGED IN -->
<div id="actionsContainer">
  <div class="pull-right">
    {% if user_logged_in %}
      <a href="javascript:;" role="button" class="btn js-btn-export-to-calendar" data-feed-path="{{ site_url }}{{ ics_feed_url }}">Export to calendar</a>
    {% endif %}
  </div>
</div>

<div id="results" class="pull-left js-modules-results">
  <div id="resultsHead" class="js-modules-found">
    <h3>Found 0 modules</h3>
  </div>

  <ul id="resultsList" class="js-modules-list">
  </ul>
</div>

<div id="calendarHolder" class="pull-right js-calendar-holder">
  <div id="calendarHeading">
    <ul role="tablist" class="nav nav-tabs js-calendar-view-navigation">
      <li role="presentation" class="active agendaWeek js-week"><a role="tab" aria-selected="true" href="#">Week</a></li>
      <li role="presentation" class="month js-month"><a role="tab" aria-selected="false" href="#">Month</a></li>
      <li role="presentation" class="list js-list"><a role="tab" aria-selected="false" href="#">List</a></li>
    </ul>

    <div id="calendarData" class="js-calendar-navigation calendarNavigation clearfix">
      <ul class="clearfix js-date-spinner js-agendaWeek week-calendar-navigation pull-left">
        <li class="pull-left"><a role="button" class="js-prev btn-prev" href="#"><i class="icon-chevron-left icon-white"></i><span class="aural-text">previous week</span></a></li>
        <li class="pull-left js-value value"></li>
        <li class="pull-left"><a role="button" class="js-next btn-next" href="#"><i class="icon-chevron-right icon-white"></i><span class="aural-text">next week</span></a></li>
      </ul>

      <ul class="clearfix js-date-spinner js-month month-calendar-navigation dontDisplayMe pull-left">
        <li class="pull-left"><a role="button" class="js-prev btn-prev" href="#"><i class="icon-chevron-left icon-white"></i><span class="aural-text">previous month</span></a></li>
        <li class="pull-left js-value value"></li>
        <li class="pull-left"><a role="button" class="js-next btn-next" href="#"><i class="icon-chevron-right icon-white"></i><span class="aural-text">next month</span></a></li>
      </ul>

      <ul class="clearfix js-date-spinner js-term term-calendar-navigation pull-right">
        <li class="pull-left"><a role="button" class="js-prev btn-prev" href="#"><i class="icon-chevron-left icon-white"></i><span class="aural-text">previous term</span></a></li>
        <li class="pull-left js-value value"></li>
        <li class="pull-left"><a role="button" class="js-next btn-next" href="#"><i class="icon-chevron-right icon-white"></i><span class="aural-text">next term</span></a></li>
      </ul>
    </div>
  </div>

  <div id="calendar" class="js-calendar" data-start='{{ calendar_start }}' data-end='{{ calendar_end }}' data-terms="{{ terms|json }}">
  </div>

  <div class="js-list-view list-view"></div>
</div>
{% include "student/student-templates.html" %}
{% endblock content %}
