{% load url from future %}
<div class="js-list-calendar list-calendar" aria-hidden="true">
  {% include "student/month-small.html" with month_calendar=calendar %}
</div>

<div class="js-event-list event-list">
  <ul>
    {% for day in calendar.month_days %}
    <li>
      <h4>{{ day.date|date:"l jS F" }}</h4>
      <ul>
        {% for event in day.events %}
        <li>
          <h5>{{ event.title }}</h5>
          <div class="courseDatePattern">{{ event.start_local|date:"P" }} &ndash; {{ event.end_local|date:"P" }}</div>
          <div class="courseLocation">{{ event.location }}</div>
          <div class="courseLecturer">{{ event.metadata.people|join:", " }}</div>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% empty %}
    <li>  
      <p>No events for this month.</p>
    </li>
    {% endfor %}
  </ul>
</div>
