{% load staticfiles %}
{% load url from future %}
<!doctype html>
  <head>
    <title>Timetable</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="{% static "css/libs/bootstrap/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/libs/fullcalendar/fullcalendar.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    {% block head %}
    {% endblock head %}

    <script type="text/javascript" src="{% static "js/libs/modernizr.js" %}"></script>
    <style>
      .notImplemented {
        display: none;
      }
    </style>
  </head>
  {# Add the play-site class if this is a Timetable play-site #}
  <body id="{% block bodyid %}student{% endblock %}" {% if is_play_site %}class="play-site"{% endif %}>

    {% block userinfo %}
      <div id="userinfo" style="display:none" data-userid="{% if loggedin %}{{ user.username }}{% else %}public{% endif %}" data-userrole="student" class="dontDisplayMe">
          {# used for ajax post operations, I prefer this to the cookie method. #}
          {% csrf_token %}
      </div>
    {% endblock %}

    <div id="container">

      <div class="alert alert-info cookie-alert js-cookie-alert dontDisplayMe">
        <button type="button" class="js-close close">&times;</button>
        <strong>Cookie policy</strong>
        <div class="clearfix">
          <p>This site uses cookies to store information on your computer. By using our site you accept the terms of our <a href="{% url "cookie_policy" %}" target="_blank">Cookie Policy</a>.</p>
        </div>
      </div>


      <header id="mainHeader">
        <div id="uniLogo" class="clearfix">
          {% block timetable_logo %}
          <h1 class="pull-left">Timetable <span>beta</span></h1>
          {% endblock timetable_logo %}

          <h2 class="pull-right">
            <a href="http://www.cam.ac.uk" target="_blank"><span class="hideMe">University of Cambridge</span></a>
          </h2>

          {# Show the play text if this is a timetable play site. #}
          {% if is_play_site %}
          <p class="play-text">This version of Timetable beta is a place for you to try it out. You can check the data in timetables and have a play with the functionality. Any changes made won't effect real users but your changes will be wiped regularly.</p>
          {% endif %}
        </div>

        {% block top_bar %}
        {% endblock top_bar %}
      </header>

      <div class="modal hide fade in" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="signinLabel">Already have a timetable or want one ?</h3>
        </div>
        <div class="modal-body">
          Sign-in to see your timetable and make changes
          <a href="{% url "login url" %}?next={% url "home" %}" class="btn btn-success pull-right">Sign in</a>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div class="modal hide fade in" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="errorLabel">Ooops !</h3>
        </div>
        <div class="modal-body">
            Oh No, something went wrong. If keeps happening, please do tell us.
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div id="content" class="clearfix">
        {% block content %}

        {% endblock content %}

        {% include "base-templates.html" %}
      </div>

      {% block footer %}
      <div class="footer-wrap student-footer-wrap">
        <div class="footer clearfix">

          <p class="copyright-message pull-left">&copy; Digital Services, Cambridge University Library, West Road, Cambridge CB3 9RD</p>
          <ul class="pull-right">
            <li>
              <a href="mailto:{{ contact_us_address }}"><span class="icon-comment icon-white"></span>Contact us or give feedback</a>
            </li>
            <li>
                <a href="{% url "privacy_policy" %}" target="_blank">Privacy policy</a>
            </li>
            <li>
                <a href="{% url "cookie_policy" %}" target="_blank">Cookie policy</a>
            </li>
            <li>
                <a href="//www.cam.ac.uk/about-this-site/accessibility" target="_blank">Accessibility</a>
            </li>
          </ul>

        </div>
      </div>
      {% endblock footer %}
    </div>
    
    <script data-main="{% static "js/main.js" %}" data-page-module="{% block javascript_module %}{% endblock javascript_module %}" src="{% static "js/libs/require.js" %}"></script>
  </body>
</html>
