{# Templates for links #}
<script id="js-templ-link" type="text/template">
  <div class="js-value value">
    <a target="_blank" href="/<%= linkFullpath %>.list-write.admin.html"><%= moduleName %>, <%= partName %></a>
    <div class="actions">
      <a href="javascript:;" class="icon-trash js-btn-remove" title="remove"><span class="hideMe">remove</span></a>
    </div>
  </div>
  <div class="js-selector selector">
    <select class="js-module-select">
      <option value="" disabled="disabled" selected="selected">Choose a subject</option>
      {% include "subject-picker.html" %}
    </select>

    <select class="js-part-select">
      <option value="" disabled="disabled" selected="selected">Choose a part</option>
    </select>

    <a href="javascript:;" class="btn btn-link btn-small js-btn-cancel">cancel</a>
    <a href="javascript:;" class="btn btn-success btn-small js-btn-save">Save</a>
  </div>
</script>

{# Templates for new events #}
<script id="js-templ-new-event" type="text/template">
  <tr class="event js-event event-editable event-new row-being-edited">
    <td title="Title" class="event-field" tabindex="-1">
      <div class="jeditable js-field js-field-title" tabindex="0" data-value=""></div>
    </td>
    <td title="Event Type" class="event-field event-field-type" tabindex="-1">
      <div class="jeditable js-field js-field-type event-type" tabindex="0" data-value=""></div>
    </td>
    <td class="event-field js-date-time-cell eventDateTime" tabindex="-1">
      <div class="js-date-time-input-wrap" tabindex="0">
        <span title="{{ event.start|date:"l jS F " }}">
          {% spaceless %}
          <span>W </span>
          <span data-value="1" class="js-field-week">1</span>
          <span> in </span>
          <span data-value="michaelmas" class="js-field-term">Michaelmas</span>
          <span>, on </span>
          <span data-value="thu" class="js-field-day">Thu</span>
          <span>&nbsp;</span>
        </span>
        <span class="js-field-start-hour" data-value="09">09</span>
        <span>:</span>
        <span class="js-field-start-minute" data-value="00">00</span>
        <span>&ndash;</span>
        <span class="js-field-end-hour" data-value="10">10</span>
        <span>:</span>
        <span class="js-field-end-minute" data-value="00">00</span>
        {% endspaceless %}
        <div class="dialog-holder js-dialog-holder"></div>
      </div>
    </td>
    <td title="Location" class="event-field" tabindex="-1">
      <div class="jeditable js-field js-field-location" tabindex="0" data-value=""></div>
    </td>
    <td title="Lecturer/host/etc" class="event-field" tabindex="-1">
      <div class="jeditable js-field js-field-people" tabindex="0" data-value=""></div>
    </td>
    <td class="eventActions" tabindex="-1">
      <ul class="buttons">
        <li>
          <a href="javascript:;" class="icon-trash remove js-remove-icon" title="remove" tabindex="0"><span class="hideMe">remove</span></a>
        </li>
      </ul>
    </td>
  </tr>
</script>

{# New series title template #}
<script id="js-templ-new-series" type="text/template">
  <div class="series js-series">
    <div class="series-title collapsed clearfix js-series-title">
      <h5 class="js-collapse">
        <span class="chevron icon-chevron-right js-expansion-indicator"></span>
        <span class="js-value title" data-save-path="/series/new" tabindex="0">Series title</span>
        <span class="js-error-message error-message dontDisplayMe"></span>
      </h5>

      <p class="buttons js-series-buttons">
        <a href="#" class="icon-pencil js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
        <a href="#" class="icon-trash js-remove" title="remove"><span class="hideMe">remove</span></a>
      </p>
    </div>
  </div>
</script>

{# New series content template #}
<script id="js-templ-new-series-content" type="text/template">
  <div class="events js-events clearfix collapse">
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>

    <a href="javascript:;" class="js-btn-add-event addEvent pull-left btn btn-link">
      <span class="icon-plus-sign"></span>Add event
    </a>
    <ul class="js-save-cancel-btns seriesEditActions pull-right" style="display: none;">
      <li class="pull-left">
        <a href="javascript:;" class="js-btn-cancel cancel">cancel</a>
      </li>
      <li class="pull-left">
        <a href="javascript:;" class="js-btn-save save btn btn-success" title="save event series" data-loading-text="Saving...">Save</a>
      </li>
    </ul>
  </div>
</script>

{# New module title template #}
<script id="js-templ-new-module" type="text/template">
  <div class="module js-module">
    <div class="js-module-title module-title clearfix">
      <h4 class="js-collapse collapsed">
        <span class="chevron js-expansion-indicator icon-chevron-right"></span>
        <span class="title js-value" data-save-path="/module/new" tabindex="0">Module title</span>
        <span class="js-error-message error-message dontDisplayMe"></span>
      </h4>

      <p class="buttons js-module-buttons">
        <a href="#" class="icon-pencil js-edit-icon" title="edit"><span class="hideMe">edit</span></a>
        <a href="#" class="icon-trash js-remove" title="remove"><span class="hideMe">remove</span></a>
      </p>
    </div>
  </div>
</script>

{# New module content template #}
<script id="js-templ-new-module-content" type="text/template">
  <div class="moduleContent module-content js-module-content collapse">
    <a href="#" class="btn btn-small addSeries js-btn-add-series"><span class="icon-add-series"></span>Add series</a>
    <div class="seriesList js-series-list">
      <p class="js-no-series no-series">This module contains no series.</p>
    </div>
  </div>
</script>


{# Remove dialog templates #}
<script id="js-templ-remove-module-series-popup-title" type="text/template">
  Delete '<%= title %>'
</script>
<script id="js-templ-remove-module-series-popup-removing-title" type="text/template">
  Deleting '<%= title %>'...
</script>
<script id="js-templ-remove-module-popup-contents" type="text/template">
  <p>This <%= type %> and its <%= totalSeries %> series and all of their events will be deleted and will no longer appear in people's timetables. This can't be undone.</p>
  <p>Are you sure you want to delete this <%= type %>?</p>
</script>
<script id="js-templ-remove-series-popup-contents" type="text/template">
  <p>This <%= type %> and all of its events will be deleted and will no longer appear in people's timetables. This can't be undone.</p>
  <p>Are you sure you want to delete this <%= type %>?</p>
</script>
<script id="js-templ-remove-module-series-popup-btn-confirm" type="text/template">
  Delete <%= type %>
</script>
<script id="js-templ-remove-module-series-popup-error" type="text/template">
  <h5>Oops, something went wrong.</h5>
  <p>Apparently something went wrong when trying to delete <%= title %>.<br/>Please try again later.</p>
</script>

<script id="js-templ-remove-link-popup-title" type="text/template">
  Delete link
</script>
<script id="js-templ-remove-link-popup-removing-title" type="text/template">
  Deleting link...
</script>
<script id="js-templ-remove-link-popup-btn-confirm" type="text/template">
  Delete link
</script>
<script id="js-templ-remove-link-popup-error" type="text/template">
  <h5>Oops, something went wrong.</h5>
  <p>Apparently something went wrong when trying to delete the link to '<%= link %>'.<br/>Please try again later.</p>
</script>
<script id="js-templ-remove-link-popup-contents" type="text/template">
  <p>This link won't show up in timetable '<%= timetable %>' anymore.</p>
  <p>Are you sure you want to delete this link?</p>
</script>


{# Error dialog templates #}
<script id="js-templ-error-popup-save-link-title" type="text/template">
  Error saving new link
</script>
<script id="js-templ-error-popup-save-link-message" type="text/template">
  <p>Apparently there was an error when we tried to link your timetable to '<%= link %>'.</p>
  <p>Please try again later or contact support if the problem persists.</p>
</script>
