{% extends "administrator/timetableList/read.html" %}
{% load url from future %}
{% load timetables %}


{% block javascript_page %}timetable-list-write{% endblock javascript_page %}

{% block locked_alert %}
{% endblock locked_alert %}

{% block timetable_tab_nav %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="javascript:;">List</a>
  </li>
  <li>
    <a href="{% url "thing calendar" thing %}">Calendar</a>
  </li>
</ul>
{% endblock timetable_tab_nav %}

{% block before_modules_content %}
<a href="#" class="btn btn-small js-btn-add-module js-prepend addModule"><span class="icon-add-module"></span>Add module</a>
{% endblock before_modules_content %}

{% block general_timetable_data %}
data-event-type-choices="{{ type_choices|json }}"
{% endblock general_timetable_data %}

{% block timetable_module %}
{% include "administrator/timetableList/fragModuleWrite.html" %}
{% endblock timetable_module %}

{% block linked_timetables %}
  <div id="linked-timetables" class="js-linked-timetables">
    <h4>Borrowed modules and series</h4>
    <ul class="js-links-list links-list yes-this-is-really-a-list" data-links="{{ links|json }}"></ul>
    <a href="javascript:;" class="btn js-btn-add-link add-link"><span class="icon-plus-sign"></span> Add link</a>
  </div>
{% endblock linked_timetables %}

{% block additional_modals %}
<div class="js-timedout-modal modal dontDisplayMe">
  <div class="modal-header">
    <h3>Your session has timed out</h3>
  </div>
  <div class="modal-body">
    <p>Your session has timed out to enable other admins with edit rights to edit this timetable.</p>
    <p>Any unsaved changes have been lost.</p>
  </div>
  <div class="modal-footer">
    <a href="{% url "admin timetable" timetable_thing.fullpath %}" class="btn btn-primary">Close</a>
  </div>
</div>

<div class="js-date-time-dialog dialog dialog-date-time datePatternDialog popover bottom hide">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-title clearfix">
      <h3 class="pull-left">When does this event take place?</h3>
      <a href="javascript:;" class="close js-close-btn" tabIndex="-1">&times;</a>
    </div>
    <div class="popover-content form-inline clearfix">
      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-week">Week</label>
          <input type="text" name="date-time-week" id="date-time-week"
             value="1"
             class="js-week input-mini eventDateTimeWeek"/>
        </span>

        <span class="control-group">
          <label for="date-time-term">in</label>
          <select id="date-time-term" name="date-time-term">
            <option value="michaelmas">Michaelmas</option>
            <option value="lent">Lent</option>
            <option value="easter">Easter</option>
          </select>
        </span>
      </div>
      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-day">on</label>
          <select id="date-time-day" name="date-time-day">
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
            <option value="sun">Sunday</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
          </select>
        </span>
      </div>

      <div class="date-time-form-row">
        <span class="control-group">
          <label class="first-label" for="date-time-start-hour">From</label>
          <input type="text" value="09" class="js-hour js-start input-mini hours" name="date-time-start-hour" id="date-time-start-hour">
        </span>

        <span class="control-group">
          <input type="text" value="00" class="js-minute js-start input-mini minutes" name="date-time-start-minute" id="date-time-start-minute">
        </span>

        <span class="control-group">
          <label for="date-time-end-hour">To</label>
          <input type="text" value="10" class="js-hour js-end input-mini hours" name="date-time-end-hour" id="date-time-end-hour">
        </span>

        <span class="control-group">
          <input type="text" value="00" class="js-minute js-end input-mini minutes" name="date-time-end-minute" id="date-time-end-minute">
        </span>
      </div>

      <div class="dialog-actions pull-right">
        <a href="javascript:;" class="js-close-btn close-btn">cancel</a>
        <a href="javascript:;" class="btn js-ok-btn btn-success">Okay</a>
      </div>

    </div>
  </div>
</div>

{% include "administrator/timetableList/frag-write-templates.html" %}

{% endblock additional_modals %}
