{% extends "login.html" %} 
{# reusing the wrapper in login.html for testing, remove when no longer required #} 
{% load url from future %}
{% block form %}
<form action="{% url "thing edit" thing=form.instance.fullpath %}" method="POST">
    {% csrf_token %}

    <label for="{{ form.fullname.html_name }}">Title:</label>
    {{ form.fullname }}
    {{ form.fullname.errors }}
    
    {% if not request.is_ajax %}
        <!-- for testing -->
        <br/>
        <input type="submit" value="Save"/>
    {% endif %}
    
</form>
{% endblock %}