{% load timetables %}
{% for series in module.series %}
  <li class="series js-series">
    <div class="info">
        <h6>{{ series.title }}</h6>

        <p>{{ series.date_pattern }}</p>
        <p>{{ series.location }}</p>
        <p>{{ series.people|join:", " }}</p>
    </div>

    <div class="action">
      {% if series.in_calendar %}
        <a href="javascript:;" class="btn btn-remove js-btn-remove btn-danger btn-small" data-eventsourceid="{{ series.id }}">Remove</a>
      {% else %}
        <a href="javascript:;" class="btn btn-add js-btn-add btn-success btn-small" data-eventsourceid="{{ series.id }}">Add</a>
      {% endif %}
    </div>
  </li>
{% endfor %}
