#mainHeader,
#footer,
#actionsContainer,
#results,
.student-footer-wrap,
#calendarHeading > ul,
#calendarData .btn-prev,
#calendarData .btn-next,
.cookie-alert,
.calendarEventInfo,
.list-view #listViewCalendar,
.list-calendar {
    display: none!important;
}

#student div#content {
    width: auto!important;
    padding: 0;
}

#calendarHolder {
    float: none;
    height: auto!important;
    margin: 0 auto;
}

.event-list {
    height: auto!important;
    overflow: visible!important;
}

.event-list > ul {
    margin: 0;
}
