<div class="calendarEventInfo alert alert-block clearfix admin dontDisplayMe">
	<div class="arrow"></div>
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h5>Edit event</h5>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 100%;"></div>
	</div>

	{# Form content fetched via AJAX #}

	<div class="clearfix dontDisplayMe">
		<a href="#" class="btn btn-danger pull-left">Remove event</a>
		<div class="pull-right clearfix">
			<a href="#" class="cancel">cancel</a>
			<a href="#" class="btn btn-success">Save</a>
		</div>
	</div>
</div>