{% extends "static/base.html" %}


{% block title %}Useful Information{% endblock %}


{% block static-text %}
<h1>Useful Information</h1>


<h3>Contents</h3>
<ol>
  <li><a href="#attendance">Rules applicable to attendance at Lectures</a></li>
  <li><a href="#timetable-data">Timetable Data</a></li>
  <li><a href="#privacy-policy">Privacy Policy</a></li>
  <li><a href="#accessibility">Accessibility</a></li>
</ol>


<h2 id="attendance">1. Rules applicable to attendance at Lectures</h2>
<p>
  Under the University’s Ordinances<sup><a href="#ref-1">[1]</a></sup>, matriculated students paying a University Composition Fee are entitled to attend any course within the University which is listed in the table of fees except courses of class work or practical instruction, or courses notified by the General Board as being specially restricted.
</p>

<p>
  The General Board has agreed the following definitions:
</p>

<dl>
  <dt>Lectures</dt>
  <dd>
    Presentations to groups, either single sessions or a series, which should be open to all students and published on the online Lecture Listings system.
  </dd>

  <dt>Class work</dt>
  <dd>
    To include seminars and clinical demonstrations where teaching is interactive and may require specific preparation by students beforehand, and which may be restricted to students registered for the course for which they are offered.
  </dd>

  <dt>Practical instruction</dt>
  <dd>
    Laboratory or classroom based teaching which includes instruction in small groups or one to one, and use of equipment (including computers), which may be restricted to students registered for the course for which they are offered.
  </dd>
</dl>

<p>
  Students who wish to attend lectures for a subject for which they are not registered, will be permitted to do so only if accommodation is available after provision has been made for all those students for whom the course is primarily intended. Please check the details published by the Faculty or Department concerned before attending such lectures; students who are not formally registered for the course may be required to sign up in advance.
</p>

<h5>References</h5>
<ol>
  <li id="ref-1">University Composition fees (2011 Statutes &amp; Ordinance p158)</li>
</ol>


<h2 id="timetable-data">2. Timetable data</h2>
<p>
  Please note that Digital Services are not responsible for updating the information held in Timetable; it is the responsibility of the Department or Institution which runs the events to keep them up to date.
</p>


<h2 id="privacy-policy">3. Privacy Policy</h2>
<h3>General</h3>
<p>
  This policy explains what information we gather when you visit the University of Cambridge Lecture List web site, and explains how that information is used. This policy applies only to direct accesses to the lecture list web site - URLs starting <a href="{{ site_url }}">{{ site_url }}</a>. You will need to consult the appropriate information on other sites for information on their policies.
</p>


<h3>Cookies</h3>
<h4>General</h4>

<p>This policy explains the cookies that may be set as a result of your visiting the lecture list web site - URLs starting <a href="{{ site_url }}">{{ site_url }}</a>. You will need to consult the appropriate information on other sites for information on their policies. This policy is based on the <a href="http://www.cam.ac.uk/site/cookie-policy.html" target="_blank">policy for the University central web site</a>.</p>

<p>Most web browsers automatically accept cookies, but within your web browser you can choose to accept or decline cookies for any web site. You can usually modify your browser settings to decline all cookies if you prefer, or accept or decline on a case-by-case basis. The Information Commissioner's Office Advice for Members of the Public tells you how to control cookies. Bear in mind that disabling cookies may prevent you from taking full advantage of websites.</p>

<ul class="actually-a-list">
  <li>More information about cookies - <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a>.</li>
  <li>Information Commissioner's Office Advice for Members of the Public - <a href="http://www.ico.gov.uk/for_the_public/topic_specific_guides/online/cookies.aspx" target="_blank">http://www.ico.gov.uk/for_the_public/topic_specific_guides/online/cookies.aspx</a>.</li>
</ul>


<h4>Cookies</h4>

<p>The cookies used on this site are there to:</p>
<ul class="actually-a-list">
  <li>authenticate you for accessing restricted content (your Raven authentication)</li>
  <li>measure how you use the website (using Google Analytics) so we can improve it.</li>
</ul>

<p>Only the cookies associated with Raven identify you personally, when you request authentication; other cookies used on this site do not collect personal information. This website does not require Raven authentication if you are viewing information; it does require authentication if you are editing information, or if you are using the facility to build and save a personal timetable.</p>

<h4>Raven Authentication</h4>
<p>This site uses the University's Raven authentication service if it needs to identify you to give you access to restricted content. This may lead to two cookies being set:<p>

<ol class="actually-a-list">
  <li>One is set by and only returned to this server. It manages your authentication to this site. If you reject this cookie you will not be able to access restricted content on this site.</li>
  <li>The other is set by and returned to the server at raven.cam.ac.uk. This is used to implement Raven's 'single sign-on' function and allows Raven to identify you to other web sites without you having to re-enter your Raven password. Further information about this cookie, including how to disable it, can be found in the Raven Privacy and cookie policy at <a href="http://raven.cam.ac.uk/privacy.html" target="_blank">http://raven.cam.ac.uk/privacy.html</a>.</li>
</ol>


<h4>Google Analytics</h4>
<p>This site runs Google Analytics, which uses four cookies for tracking visitors to the site.</p>

<ul class="actually-a-list">
  <li>These cookies store information about what time the current visit occurred, whether the visitor has been to the site before, and what site referred the visitor to the web page.</li>
  <li>No data specific to any identifiable user is retained, and we do not share our data with any other Google services.</li>
  <li>With the values gained from these cookies Google Analytics can interpret journeys through our website content, give us information about how people use our site and so present an opportunity to improve it.</li>
  <li>Google Analytics information about privacy and cookies may be found at <a href="http://www.google.com/analytics/tos.html" target="_blank">http://www.google.com/analytics/tos.html</a> and <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies" target="_blank">https://developers.google.com/analytics/resources/concepts/gaConceptsCookies</a>.</li>
  <li>As a user you may opt out of the process Google Analytics uses to collect traffic log data (should your web browser be compatible). Google provides a browser add-on that enables a user to opt out of receiving Google Analytics cookies - <a href="http://tools.google.com/dlpage/gaoptout" target="_blank">http://tools.google.com/dlpage/gaoptout</a>.</li>
</ul>


<h4>Summary</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cookie</th>
      <th>Function</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>sessionid</td>
      <td>Authentication</td>
      <td>Current browsing session</td>
    </tr>
    <tr>
      <td>csrftoken</td>
      <td>Security</td>
      <td>Used to prevent <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery" target="_blank">Cross site request forgery</a>.</td>
    </tr>
    <tr>
      <td>__utma</td>
      <td>Google Analytics</td>
      <td>Persistent for 2 years</td>
    </tr>
    <tr>
      <td>__utmb</td>
      <td>Google Analytics</td>
      <td>Persistent for 30 minutes</td>
    </tr>
    <tr>
      <td>__utmc</td>
      <td>Google Analytics</td>
      <td>Current browsing session</td>
    </tr>
    <tr>
      <td>__utmz</td>
      <td>Google Analytics</td>
      <td>Persistent for 6 months</td>
    </tr>
  </tbody>
</table>


  <h3>Data collected</h3>
  <p>In common with most web sites, this site automatically logs certain information about every request made of it (see below for more details). This information is used for system administration, for bug tracking, and for producing usage statistics. The logged information may be kept for up to two years. If you use the facility to create a personal timetable, then the site will store your timetable for you. The stored timetable is considered personal data under the Data Protection Act.</p>
  <h4>Calendar feeds</h4>
  <p>The URL (link) used to access your personal calendar is unique to you. If you share this link with other people, they will be able to see events in your calendar feed. You can reset this feed in order to remove their access to your calendar feed.</p>


  <h3>Logged data</h3>

  <p>The following data is automatically collected for each request:</p>
  <ul class="actually-a-list">
    <li>The name or network address of the computer making the request. Note that under some (but not all) circumstances it may be possible to infer from this the identity of the person making the request. Note also that the data recorded may be that of a web proxy rather than that of the originating client</li>
    <li>The username, when known during authenticated (logged in) access to the site</li>
    <li>The date and time of connection</li>
    <li>The HTTP request, which contains the identification of the document requested</li>
    <li>The status code of the server's response to the request (success or failure etc.)</li>
    <li>The number of data bytes sent in response</li>
    <li>The contents of the HTTP Referrer header supplied by the browser</li>
    <li>The content of the HTTP User-Agent header supplied by the browser</li>
    <li>Logging of additional data may be enabled temporarily from time to time for specific purposes.</li>
  </ul>
  <p>In addition, the computers on which the web site is hosted keep records of attempts (authorised and unauthorised) to use them for purposes other than access to the web server. This data typically includes:</p>
  <ul class="actually-a-list">
    <li>the date and time of the attempt,</li>
    <li>the service to which access was attempted,</li>
    <li>the name or network address of the computer making the connection,</li>
    <li>and may include details of what was done or was attempted to be done.</li>
  </ul>


  <h3>Disclosure and uses of personal information</h3>
  <p>We use information held about you in the following ways:</p>
  <ul class="actually-a-list">
    <li>to ensure that content from our website is presented in the most effective manner for you and for your computer or device by gathering aggregate information about our users using it to analyse the effectiveness and popularity of this website</li>
  </ul>

  <p>We may disclose your personal information to third parties in the following circumstances: <!-- Sorry about that --></p>

  <ul class="actually-a-list">
    <li>if we have obtained your consent to do so</li>
    <li>when we are required or authorised by law, court order, regulatory or governmental authority to disclose your personal data</li>
    <li>if required to protect the rights, property or safety of the University of Cambridge, its members or others.</li>
    <li>Relevant subsets of this data may be passed to computer security teams as part of investigations of computer misuse involving this site or other computing equipment in the University.</li>
  </ul>

  <p>In addition, this site uses Google Analytics to help us analyse site usage and to improve it. To support this, selected information about your interaction with the site is sent to Google for them to analyse on our behalf. For more information about Google Analytics see <a href="http://www.google.com/analytics/">http://www.google.com/analytics/</a>.</p>


  <h3>Links to other websites</h3>
  <p>This website contains links to and from third-party sites. <!-- Our site contains links from other sites??! --> This policy only covers use of cookies on this site. You should consult privacy and cookie policies on third-party sites before you submit any personal data.</p>


  <h3>Access to personal data</h3>
  <p>For the purpose of the UK Data Protection Act 1998, the 'Data Controller' for the processing of data collected by this site is the University of Cambridge, and the point of contact for subject access requests is the University Data Protection Officer (The Old Schools, Trinity Lane, Cambridge CB2 1TN, tel. <a href="tel:+44_01223-332320">01223 332320</a>, fax <a href="tel:+44_01223-332332">01223 332332</a> E-mail: <a href="mailto:data.protection@admin.cam.ac.uk">data.protection@admin.cam.ac.uk</a>).</p>


<h2 id="accessibility">4. Accessibility</h2>
<p>
  This site is designed to be fully keyboard-accessible, and accessible to people using screen readers. If you have any questions about accessibility, please contact <a href="mailto:help@timetable.cam.ac.uk">help@timetable.cam.ac.uk</a>.
</p>
{% endblock static-text %}
