{% extends "static/base.html" %}

{% block title %}Timetable Frequently Asked Questions{% endblock title %}

{% block static-text %}

<h1>Timetable Frequently Asked Questions</h1>

<h2>How do I export my timetable in www.timetable.cam.ac.uk to my own calendar?</h2>

<p>You can export your personal calendar created in www.timetable.cam.ac.uk to another calendar application (e.g. Google calendar, Outlook, ...) that you might already be using. In order to do that, you have to  subscribe to the feed you can find when clicking ‘Export to calendar’. Your calendar will then be kept up to date with changes to the events including any new events you add.</p>
<p>The time it takes for your calendar to reflect the changes will depend on your calendar settings and which calendar you are using.</p>

<h3>Example: How to export your calendar using Google Calendar</h3>

<ol>
    <li>Log into your Google Calendar</li>
    <li>Click the arrow button next to "Other calendars" and select "Add by URL"</li>
    <li>Copy and paste the link you find in ‘Export to calendar’  into the "URL" box</li>
    <li>Click "Add Calendar"</li>
    <li>Your personal timetable is now displayed in your Google Calendar and will be kept up to date whenever changes are made to it by administrators, or if you add new events in www.timetable.cam.ac.uk</li>
</ol>

<h2>Why are my events shown at different times in Timetable and my own calendar?</h2>

<p>You'll need to check the timezone of your own calendar application (e.g. Google calendar, Outlook, ...). If you live outside the UK, you may well have your Google or other calendar set to the timezone in which you normally live. This means all the events will show up as being at the wrong time. You can reset your calendar's timezone to match the timezone Cambridge is in.</p>

<h2>Why aren't changes to my Timetable showing up in my (Google) calendar?</h2>

<p>Depending on which electronic calendar client you're using, and on its settings, it can take up to 24 hours for changes you make to your personal timetable to show up in your own calendar. For example, Google Calendar only updates every 4-6 hours.</p>

<p>If you have reset your calendar feed using the 'reset feed' link, your calendar won't receive updates, because it can no longer communicate with the Timetable system. You will need to add your new feed to your calendar client in order to see changes.</p>

{% endblock static-text %}
