{% load url from future %}

<form action="{% url "series form" series_id=form.instance.id %}" method="POST">
    {% csrf_token %}

    <div style="margin: 60px 0;">
    	{{ form.as_p }}
    </div>
    
    <div style="">
        {% for event in events %}
            <div style="margin: 30 0px;">
                {{ event.as_p }}
            </div>
        {% endfor %}
    </div>
    
    {% if not request.is_ajax %}
        <!-- for testing -->
        <input type="submit" value="Save"/>
    {% endif %}
</form>
