<tr class="event">
	<td class="eventTitle clearfix{% if event_form.title.errors %} error{% endif %}" tabindex="1">
		<div class="dataValue pull-left">
			{{ event_form.instance.title|default:"&mdash;" }}
		</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.title.html_name }}" value="{{ event_form.title.value }}" placeholder="{{ event_form.title.errors|join:" " }}" {% if event_form.title.errors %}class="error"{% endif %} />
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventType clearfix secondStepped{% if event_form.event_type.errors %} error{% endif %}" tabindex="2">
		<div class="dataValue pull-left">
			{{ event_form.instance.metadata.type|default:"&mdash;" }}
		</div>
		<div class="dataInput">
			{{ event_form.event_type }}
			{{ event_form.event_type.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLocation clearfix{% if event_form.location.errors %} error{% endif %}" tabindex="3">
		<div class="dataValue pull-left">{{ event_form.instance.location|default:"&mdash;" }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.location.html_name }}" value="{{ event_form.location.value }}" placeholder="{{ event_form.location.errors|join:" " }}" {% if event_form.location.errors %}class="error"{% endif %} />
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventDateTime clearfix secondStepped secondSteppedOut{% if event_form.term_week.errors or event_form.term_name.errors or event_form.day_of_week.errors or event_form.start_hour.errors or event_form.start_minute.errors or event_form.end_hour.errors or event_form.end_minute.errors %} error{% endif %}" tabindex="4">
		<div class="dataValue pull-left">
			<span title="{{ event_form.instance.start|date:"l jS F " }}">
				{% with rel_date=event_form.instance.relative_term_date  %}
				W {{ rel_date.2 }} in {{ rel_date.1|capfirst }},
				on {{ rel_date.3|capfirst }}
				{% endwith %}
			</span>
			{{ event_form.instance.start|date:"H:i" }}&ndash;{{ event_form.instance.end|date:"H:i" }}
		</div>
		<div class="dataInput">
			<span title="Save changes to see real date.">
				W {{ event_form.term_week.value }} in {{ event_form.term_name.value|capfirst }},
				on {{ event_form.day_of_week.value|capfirst }}
				{{ event_form.instance.start|date:"H:i" }}&ndash;{{ event_form.instance.end|date:"H:i" }}
			</span>

			<div class="datePatternDialog popover fade bottom in">
				<div class="arrow"></div>
				<div class="popover-inner">
					<h3 class="popover-title">When does this event take place?</h3>
					<div class="popover-content">
						<label for="id_{{ event_form.term_week.html_name }}">Week</label>
						{{ event_form.term_week.errors }}
						<input type="number"
						       name="{{ event_form.term_week.html_name }}"
						       id="id_{{ event_form.term_week.html_name }}"
						       value="{{ event_form.term_week.value }}"
						       class="input-mini eventDateTimeWeek{% if event_form.term_week.errors %} error{% endif %}"/>

						<label for="id_{{ event_form.term_name.html_name }}">in</label>
						{{ event_form.term_name.errors }}
						{{ event_form.term_name }}

						<label for="id_{{ event_form.day_of_week.html_name }}">on</label>
						{{ event_form.day_of_week.errors }}
						{{ event_form.day_of_week }}

						<label for="id_{{ event_form.start_hour.html_name }}">From</label>
						{{ event_form.start_hour.errors }}
						{{ event_form.start_minute.errors }}
						<ul class="clearfix eventDateTimeFromFields">
							<li class="pull-left">
								<input type="number"
								       value="{{ event_form.start_hour.value|add:"0"|stringformat:".2d" }}"
								       class="input-mini hours{% if event_form.start_hour.errors %} error{% endif %}"
								       name="{{ event_form.start_hour.html_name }}"
								       id="id_{{ event_form.start_hour.html_name }}"
								       min="-1" max="24">
							</li>
							<li class="pull-left">
								<input type="number"
								       value="{{ event_form.start_minute.value|add:"0"|stringformat:".2d" }}"
								       class="input-mini minutes{% if event_form.start_minute.errors %} error{% endif %}"
								       name="{{ event_form.start_minute.html_name }}"
								       id="id_{{ event_form.start_minute.html_name }}"
								       min="-15" max="60" step="15">
							</li>
						</ul>

						<label for="id_{{ event_form.end_hour.html_name }}">To</label>
						{{ event_form.end_hour.errors }}
						{{ event_form.end_minute.errors }}
						<ul class="clearfix eventDateTimeToFields">
							<li class="pull-left">
								<input type="number"
								       value="{{ event_form.end_hour.value|add:"0"|stringformat:".2d" }}"
								       class="input-mini hours{% if event_form.end_hour.errors %} error{% endif %}"
								       name="{{ event_form.end_hour.html_name }}"
								       id="id_{{ event_form.end_hour.html_name }}"
								       min="-1" max="24">
							</li>
							<li class="pull-left">
								<input type="number"
								       value="{{ event_form.end_minute.value|add:"0"|stringformat:".2d" }}"
								       class="input-mini minutes{% if event_form.end_minute.errors %} error{% endif %}"
								       name="{{ event_form.end_minute.html_name }}"
								       id="id_{{ event_form.end_minute.html_name }}"
								       min="-15" max="60" step="15">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLecturers clearfix{% if event_form.people.errors %} error{% endif %}" tabindex="4">
		<div class="dataValue pull-left">{{ event_form.instance.metadata.people|join:", "|default:"&mdash;" }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.people.html_name }}" value="{{ event_form.people.value }}" placeholder="{{ event_form.people.errors|join:" " }}" {% if event_form.people.errors %}class="error"{% endif %} />
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventActions" tabindex="5">
		<ul class="clearfix buttons">
			<li class="pull-left">
				<a href="#" class="icon-pencil edit" title="edit"><span class="hideMe">edit</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-file duplicate" title="duplicate"><span class="hideMe">duplicate</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-trash remove" title="remove"><span class="hideMe">remove</span></a>
			</li>
		</ul>
	</td>
</tr>