<tr class="event">
	<td class="eventTitle clearfix" tabindex="1">
		<div class="dataValue pull-left">{{ event_form.title.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.title.html_name }}" value="{{ event_form.title.value }}" />
			{{ event_form.title.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventType clearfix secondStepped" tabindex="2">
		<div class="dataValue pull-left">{{ event_form.event_type.value }}</div>
		<div class="dataInput">
			{{ event_form.event_type }}
			{{ event_form.event_type.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLocation clearfix" tabindex="3">
		<div class="dataValue pull-left">{{ event_form.location.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.location.html_name }}" value="{{ event_form.location.value }}" />
			{{ event_form.location.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventDateTime clearfix secondStepped secondSteppedOut" tabindex="4">
		<div class="dataValue pull-left">
			<span title="{{ event_form.instance.start|date:"l jS F " }}">
				W {{ event_form.term_week.value }} in {{ event_form.term_name.value|capfirst }},
				on {{ event_form.day_of_week.value|capfirst }}
			</span>
			{{ event_form.instance.start|date:"H:i" }}&ndash;{{ event_form.instance.end|date:"H:i" }}
		</div>
		<div class="dataInput">
			{{ event_form.term_week }}
			{{ event_form.term_week.errors }}

			{{ event_form.term_name }}
			{{ event_form.term_name.errors }}

			{{ event_form.day_of_week }}
			{{ event_form.day_of_week.errors }}
			
			{{ event_form.start }}
			{{ event_form.start.errors }}
			{{ event_form.end }}
			{{ event_form.end.errors }}

			<div class="popover fade bottom in">
				<div class="arrow"></div>
				<div class="popover-inner">
					<h3 class="popover-title">When does this event take place?</h3>
					<div class="popover-content">
						<label for="eventDateTimeWeek">Week</label>
						<input type="number" class="input-mini" value="1" name="eventDateTimeWeek" id="eventDateTimeWeek" min="1" max="9">

						<label for="eventDateTimeTerm">in</label>
						<select id="eventDateTimeTerm">
							<option value="michaelmas">Michaelmas</option>
							<option value="lent">Lent</option>
							<option value="easter">Easter</option>
						</select>

						<label for="eventDateTimeDay">on</label>
						<select id="eventDateTimeDay">
							<option value="monday">Monday</option>
							<option value="tuesday">Tuesday</option>
							<option value="wednesday">Wednesday</option>
							<option value="thursday">Thursday</option>
							<option value="friday">Friday</option>
							<option value="saturday">Saturday</option>
						</select>

						<label for="eventDateTimeFromHour">From</label>
						<ul class="clearfix eventDateTimeFromFields">
							<li class="pull-left">
								<input type="number" value="03" class="input-mini hours" name="eventDateTimeFromHour" id="eventDateTimeFromHour" min="00" max="23" />
							</li>
							<li class="pull-left">
								<input type="number" value="00" class="input-mini minutes" name="eventDateTimeFromMinutes" id="eventDateTimeFromMinutes" min="-15" max="60" step="15" />
							</li>
						</ul>						

						<label for="eventDateTimeToHour">To</label>
						<ul class="clearfix eventDateTimeToFields">
							<li class="pull-left">
								<input type="number" value="00" class="input-mini hours" name="eventDateTimeToHour" id="eventDateTimeToHour" min="00" max="23" />
							</li>
							<li class="pull-left">
								<input type="number" value="00" class="input-mini minutes" name="eventDateTimeToMinutes" id="eventDateTimeToMinutes" min="-15" max="60" step="15" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLecturers clearfix" tabindex="4">
		<div class="dataValue pull-left">{{ event_form.people.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.people.html_name }}" value="{{ event_form.people.value }}" />
			{{ event_form.people.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventActions" tabindex="5">
		<ul class="clearfix buttons">
			<li class="pull-left">
				<a href="#" class="icon-pencil edit" title="edit"><span class="hideMe">edit</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-file duplicate" title="duplicate"><span class="hideMe">duplicate</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-trash remove" title="remove"><span class="hideMe">remove</span></a>
			</li>
		</ul>
	</td>
</tr>