<tr class="event">
	<td class="eventTitle clearfix" tabindex="1">
		<div class="dataValue pull-left">{{ event_form.title.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.title.html_name }}" value="{{ event_form.title.value }}" />
			{{ event_form.title.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventType clearfix secondStepped" tabindex="2">
		<div class="dataValue pull-left">{{ event_form.event_type.value }}</div>
		<div class="dataInput">
			{{ event_form.event_type }}
			{{ event_form.event_type.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLocation clearfix" tabindex="3">
		<div class="dataValue pull-left">{{ event_form.location.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.location.html_name }}" value="{{ event_form.location.value }}" />
			{{ event_form.location.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventDateTime clearfix secondStepped secondSteppedOut" tabindex="4">
		<div class="dataValue pull-left">
			<span title="{{ event_form.instance.start|date:"l jS F " }}">
				W {{ event_form.term_week.value }} in {{ event_form.term_name.value|capfirst }},
				on {{ event_form.day_of_week.value|capfirst }}
			</span>
			{{ event_form.instance.start|date:"H:i" }}&ndash;{{ event_form.instance.end|date:"H:i" }}
		</div>
		<div class="dataInput">
			<div class="dateTimeEditor alert alert-block clearfix">
				<div class="arrow"></div>
				<button type="button" class="close">x</button>

				<h5>When does this event take place?</h5>

				<label for="id_{{ event_form.term_week.html_name }}">Week</label>
				<input type="number"
				       name="{{ event_form.term_week.html_name }}"
				       id="id_{{ event_form.term_week.html_name }}"
				       value="{{ event_form.term_week.value }}"/>
				{{ event_form.term_week.errors }}

				<label for="id_{{ event_form.term_name.html_name }}">in</label>
				{{ event_form.term_name }}
				{{ event_form.term_name.errors }}

				<label for="id_{{ event_form.day_of_week.html_name }}">on</label>
				{{ event_form.day_of_week }}
				{{ event_form.day_of_week.errors }}

				<label for="id_{{ event_form.start.html_name }}">From</label>
			    <div class="input-append bootstrap-timepicker-component">
			        <input type="text"
			               id="id_{{ event_form.start.html_name }}"
			               name="{{ event_form.start.html_name }}"
			               value="{{ event_form.start.value }}"
			               class="timepicker-default input-small">
			        <span class="add-on">
			            <i class="icon-time"></i>
			        </span>
			        {{ event_form.start.errors }}
			    </div>

			    <label for="id_{{ event_form.end.html_name }}">From</label>
			    <div class="input-append bootstrap-timepicker-component">
			        <input type="text"
			               id="id_{{ event_form.end.html_name }}"
			               name="{{ event_form.end.html_name }}"
			               value="{{ event_form.end.value }}"
			               class="timepicker-default input-small">
			        <span class="add-on">
			            <i class="icon-time"></i>
			        </span>
			        {{ event_form.end.errors }}
			    </div>
			</div>
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventLecturers clearfix" tabindex="4">
		<div class="dataValue pull-left">{{ event_form.people.value }}</div>
		<div class="dataInput">
			<input type="text" name="{{ event_form.people.html_name }}" value="{{ event_form.people.value }}" />
			{{ event_form.people.errors }}
		</div>
		<span class="icon-pencil pull-left"></span>
	</td>
	<td class="eventActions" tabindex="5">
		<ul class="clearfix buttons">
			<li class="pull-left">
				<a href="#" class="icon-pencil edit" title="edit"><span class="hideMe">edit</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-file duplicate" title="duplicate"><span class="hideMe">duplicate</span></a>
			</li>
			<li class="pull-left">
				<a href="#" class="icon-trash remove" title="remove"><span class="hideMe">remove</span></a>
			</li>
		</ul>
	</td>
</tr>