{% extends "administrator/base.html" %}

{% block admin_content %}
<div id="adminListActions" class="clearfix">
	<a href="#" class="pull-left notImplemented"><span class="icon-chevron-left"></span>Back to Timetables</a>

	<ul class="pull-right">
		<li class="pull-left notImplemented"><a href="#" class="btn">Export to calendar app</a></li>
		<li class="pull-left notImplemented"><a href="#" class="btn">Print</a></li>
	</ul>
</div>

<!--
<div id="termHolder">
	<a class="pull-left badge badge-info" href="#">&lt;</a>
	<h4 class="pull-left">Week 2</h4>
	<a class="pull-left badge badge-info" href="#">&gt;</a>
</div>
-->

<div id="adminListView">

	<ul class="nav nav-tabs">
	  <li class="active">
		<a href="#">List</a>
	  </li>
	  <li class="notImplemented">
	  	<a href="#">Week</a>
	  </li>
	</ul>

	<a href="#" class="btn addModule notImplemented"><span class="icon-plus"></span>Add module</a>
	<ul class="modulesList">
	{% for module_editor in module_editors %}
		{% include "administrator/module.html" %}
	{% endfor %}
	</ul>

	<div class="modal changesNotificationPopup hide fade">
		<div class="modal-header">
			<a href="#" class="close dontSendNotification">&times;</a>
			<h3>Send email notification</h3>
		</div>
		<div class="modal-body">
			<p>Your changes have been saved successfully.</p>
			<p>Do you want to send an email notification to people affected by the change?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="dontSendNotification">Don't send notification</a>
			<a href="#" class="btn btn-primary sendNotifcation notImplemented">Send notification</a>
		</div>
	</div>

	<div class="modal formServerErrorPopup hide fade">
		<div class="modal-header">
			<a href="#" class="close" data-dismiss="modal">&times;</a>
			<h3>Oops, something went wrong</h3>
		</div>
		<div class="modal-body">
			<p>Apparently something went wrong whilst saving.</br>Please try again later.</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div class="modal formValidationErrorPopup hide fade">
		<div class="modal-header">
			<a href="#" class="close" data-dismiss="modal">&times;</a>
			<h3>Oops, something went wrong</h3>
		</div>
		<div class="modal-body">
			<p>It looks like you missed some fields.<br/>Please fill out any missing fields and hit save again</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>
{% endblock admin_content %}
