{% extends "administrator/base.html" %}

{% block admin_content %}
<div id="adminListView">
	<h3>Timetables for
	    {% if thing.type == "part" %}
	        {{ thing.parent.fullname }} &mdash; {{ thing.fullname }}
	    {% else %}
	        {{ thing.parent.parent.fullname }} &mdash; {{ thing.fullname }} {{ thing.parent.fullname }}
	    {% endif %}
	</h3>

	<ul class="nav nav-tabs">
	  <li class="active">
		<a href="#">List</a>
	  </li>
	  <li>
	  	<a href="#">Week</a>
	  </li>
	</ul>

	<a href="#" class="btn addModule"><span class="icon-plus"></span>Add module</a>
	<ul class="modulesList">
	{% for module_editor in module_editors %}
		{% include "administrator/module.html" %}
	{% endfor %}
	</ul>

	<div class="modal changesNotificationPopup hide fade">
		<div class="modal-header">
			<a href="#" class="close dontSendNotification">&times;</a>
			<h3>Send email notification</h3>
		</div>
		<div class="modal-body">
			<p>Your changes have been saved successfully.</p>
			<p>Do you want to send an email notification to people affected by the change?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn dontSendNotification">Don't send notification</a>
			<a href="#" class="btn btn-primary sendNotifcation">Send notification</a>
		</div>
	</div>
</div>
{% endblock admin_content %}
