{% extends "administrator/base.html" %}
{% load url from future %}

{% block top_title %}
<span class="pull-left">Timetables in </span>
<select id="iAmInput" class="pull-left js-select-faculty">
	{% for fullname, fullpath in triposes %}
	<option value="{{ fullpath }}"{% if thing.fullpath == fullpath %} selected="selected"{% endif %}>{{ fullname }}</option>
	{% endfor %}
</select> 
{% endblock top_title %}


{% block top_title_right %}
<select class="pull-right notImplemented">
  <option value="12">2012 / 2013</option>
  <option value="12">2013 / 2014</option>
  <option value="12">2014 / 2015</option>
  <option value="12">2015 / 2016</option>
</select>
{% endblock top_title_right %}


{% block admin_content %}
<div id="timetablesOverview">
  <ul class="clearfix">
    <li class="pull-left createNewTimetable notImplemented">
      <div class="timetableTop"></div>
      <div class="timetableBottom">
        <a href="#">
          Create new
        </a>
      </div>
    </li>

    {% for timetable in timetables %}
      {% if timetable.id in editable %}
      <li class="pull-left editable">
      <div class="timetableTop"></div>
      <div class="timetableBottom">
          <a href="{% url "admin list write" thing=timetable.fullpath %}">
          {% comment %}
          For part-only timetables we use the name of the faculty followed by the
          part. For real subjects we use the subject followed by part. #}
          {% endcomment %}
          {% if timetable.type == "part" %}
            {{ thing.fullname }} {{ timetable.fullname }}
          {% else %}
            {{ timetable.fullname }} {{ timetable.parent.fullname }}
          {% endif %}
          </a>
      </div>
    </li>
      {% endif %}
    {% endfor %}
    {% for timetable in timetables %}
      {% if timetable.id not in editable %}
      <li class="pull-left">
	      <div class="timetableTop"></div>
	      <div class="timetableBottom">
	          <a href="{% url "admin list read" thing=timetable.fullpath %}">
	          {% comment %}
	          For part-only timetables we use the name of the faculty followed by the
	          part. For real subjects we use the subject followed by part. #}
	          {% endcomment %}
	          {% if timetable.type == "part" %}
	            {{ thing.fullname }} {{ timetable.fullname }}
	          {% else %}
	            {{ timetable.fullname }} {{ timetable.parent.fullname }}
	          {% endif %}
	          </a>
	      </div>
	    </li>
      {% endif %}
    {% endfor %}
    
  </ul>
</div>
{% endblock admin_content %}
