{% extends "administrator/base.html" %}
{% load url from future %}

{% block top_title %}
Timetables in {{ thing.fullname }}
{% endblock top_title %}

{% block admin_content %}
<div id="timetablesOverview">
	<ul class="clearfix">
		<!--<li class="btn btn-addTimetable"><a href="#">New timetable</a></li>-->

        <li class="pull-left createNewTimetable notImplemented">
            <div class="timetableTop"></div>
            <div class="timetableBottom">
                <a href="#">
                    Create new
                </a>
            </div>
        </li>

    {% for timetable in timetables %}

        <li class="pull-left">
            <div class="timetableTop"></div>
            <div class="timetableBottom">
                <a href="{% url "admin list" thing=timetable.fullpath %}">
                    {% comment %}
                    For part-only timetables we use the name of the faculty followed by the
                    part. For real subjects we use the subject followed by part. #}
                    {% endcomment %}
                    {% if timetable.type == "part" %}
                        {{ thing.fullname }} {{ timetable.fullname }}
                    {% else %}
                        {{ timetable.fullname }} {{ timetable.parent.fullname }}
                    {% endif %}
                </a>
            </div>
        </li>
    {% endfor %}
	</ul>
</div>
{% endblock admin_content %}