{% extends "administrator/base.html" %}

{% block admin_content %}
<div id="timetablesOverview">
	<h3>Timetables in MML</h3>

	<ul class="clearfix">
		<li class="btn btn-addTimetable pull-left"><a href="#">New timetable</a></li>
		<li class="btn pull-left"><a href="french-ia">French IA</a></li>
		<li class="btn pull-left"><a href="french-ib">French IB</a></li>
		<li class="btn pull-left"><a href="french-ii">French II</a></li>
		<li class="btn pull-left"><a href="german-ia">German IA</a></li>
		<li class="btn pull-left"><a href="german-ib">German IB</a></li>
		<li class="btn pull-left"><a href="german-ii">German II</a></li>
		<li class="btn pull-left"><a href="italian-ia">Italian IA</a></li>
		<li class="btn pull-left"><a href="italian-ib">Italian IB</a></li>
		<li class="btn pull-left"><a href="italian-ii">Italian II</a></li>
	</ul>
</div>
{% endblock admin_content %}