{% load timetables %}
<li class="clearfix course js-module">
  <h5 class="pull-left">{{ thing.fullname }}</h5>
  <div class="pull-right clearfix">
    <a class="pull-left more js-more" href="#">more</a>
    {% if thing.fullpath in related %}
      <a href="#" class="pull-left btnAddSingleLecture btn js-btn-remove js-btn-module-level btn-danger"  data-fullpath="{{ thing.fullpath }}">Remove</a>
    {% else %}
      <a href="#" class="pull-left btnAddSingleLecture btn js-btn-add js-btn-module-level btn-success"  data-fullpath="{{ thing.fullpath }}">Add</a>
    {% endif %}
  </div>
  
  <ul class="courseMoreInfo">
    {% include "student/things/thing-children.html" %}
  </ul>
</li>
