{% extends "base.html" %}
{% load static from staticfiles %}
{% load url from future %}

{% block javascript_index %}index-admin{% endblock javascript_index %}
{% block javascript_page %}timetable-overview{% endblock javascript_page %}


{% block head %}
<link rel="stylesheet" href="{% static "css/admin.css" %}" />
{% endblock head %}


{% block bodyid %}admin{% endblock bodyid %}

{% block timetable_logo %}
<a href="{% url "admin" %}">
  <h1 class="pull-left">
    <span class="title-text">Timetable<span class="academic-year">{% if next_year_site_url %}archive {% endif %}{{ academic_year }}</span></span>
    <span class="beta-tag">beta</span>
  </h1>
</a>
{% endblock timetable_logo %}


{% block top_bar %}
<div id="inputArea">
  <div class="clearfix">
    <h3 class="pull-left">
      {% block top_title %}
      {% endblock top_title %}
    </h3>

    {% block top_title_right %}
    {% endblock top_title_right %}
    <a href="{% url "logout url" %}" class="btn btn-primary pull-right">Sign out</a>
  </div>
</div>
{% endblock top_bar %}


{% block content %}
  <div id="adminContent">

    {% if next_year_site_url %}
    <div class="alert alert-block archival-warning">
      <h4>Timetable {{ academic_year }} has been archived</h4>
      Data entry/checking for the next academic year can be done on the <a href="{{ next_year_site_url }}">next year's Timetable website</a>.
    </div>
    {% endif %}

    {% block admin_content %}
    {% endblock admin_content %}
  </div>
{% endblock content %}

{% block footer %}
<div class="footer-wrap">
  <div class="footer clearfix">
    <div class="clearfix">
      <ul class="pull-right">
        <li>
          <a href="{% url "faq" %}" target="_blank"><span class="icon-question-sign icon-white"></span>FAQs</a>
        </li>
        <li>
            <a href="{% url "useful_information" %}" target="_blank">Useful Information</a>
        </li>
      </ul>
    </div>

    <div class="links">
      <p class="copyright-message pull-left">&copy; Digital Services, Cambridge University Library, West Road, Cambridge CB3 9RD</p>
      <ul class="pull-right">
        <li>
          <a href="mailto:{{ contact_us_address }}"><span class="icon-comment icon-white"></span>Contact us or give feedback</a>
        </li>
        <li>
          <a href="{% url "administratorhelp:home" %}" target="_blank"><span class="icon-question-sign icon-white"></span>Help</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock footer %}
