{% load url from future %}
{% load kwacros %} {# Macro support #}


{% kwacro subject_checkbox subject %}
<p>
  <label title="{{ subject.get_most_significant_thing.fullpath }}">
    <input type="checkbox" name="{{ subject.get_most_significant_thing.fullpath }}" {% if subject in writable_subjects %}checked{% endif %}>
    {{ subject }}
  </label>
</p>
{% endkwacro %}


{% kwacro part part_groups %}
{% for key, subjects in part_groups %}
  {% if subjects|length > 1 %}
    <fieldset>
      <legend>
        {{ key.1 }}
      </legend>
      {% for subject in subjects %}
        {% usekwacro subject_checkbox subject %}
      {% endfor %}
    </fieldset>
  {% else %}
    {% usekwacro subject_checkbox subjects.0 %}
  {% endif %}
{% endfor %}
{% endkwacro %}


{# This is valid HTML :-) w3c validate if you don't believe me. #}
<!doctype html>
<title>Timetables editable by {{ user.name }}</title>
<style>
  form {
    margin-top: 2em;
  }
</style>

<h1>Timetables editable by {{ user.name }}</h1>
<p>The user <code>{{ user.name }}</code> may edit timetables checked below:</p>

<form method=POST action="{% url "admin user timetable perms" user.name %}">
  {% csrf_token %}
  {% for tripos, part_groups in tripos_groups %}
    {% if part_groups|length == 1 and part_groups.0.1|length == 1 %}
      {% usekwacro part part_groups %}
    {% else %}
      <fieldset>
        <legend>
          {{ tripos }}
        </legend>
        {% usekwacro part part_groups %}
      </fieldset>
    {% endif %}
  {% endfor %}

  <p>
    <input type="submit" value="Save">
  <p>
</form>
