.accordion-toggle span {
	margin-right: 10px;
}

body ul {
	list-style-type: none;
	margin-left: 0;
}

ul.yes-this-is-really-a-list {
	list-style-type: disc;
	margin: 0 0 10px 25px;
}

.buttons a {
	opacity: .6;
}

.buttons a:hover {
	opacity: 1;
}

a.addModule {
	margin-bottom: 30px;
}

td:focus,
div:focus {
	outline: none;
}

/* Timetable page navigation */
.nav-label {
	margin: 8px;
}


#inputArea div {
	margin: 0;
}

#inputArea h3 {
	font-size: 1.5em;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1em;
	padding-top: 4px;
}

#admin #inputArea select {
	width: 114px;
}

#adminListActions {
	padding-bottom: 30px;
}

#adminListActions .icon-chevron-left {
	margin-right: 4px;
}

#adminListActions ul li {
	margin-left: 15px;
}

.modulesList .module a.addSeries {
	margin-bottom: 9px;
}

.btn span.icon-plus {
	margin-right: 10px;
}

.addEvent span.icon-plus {
	margin-right: 7px;
}

.addEvent {
	color: #ce7400;
}

.addEvent {
	margin-left: 8px;
	padding-bottom: 10px;
}

.buttons > a {
	margin-right: 3px;
}

.loading-indicator {
	width: 30%;
	margin: 40px auto;
}

.loading-indicator-content {
	min-height: 40px;
}

.events table {
	margin-bottom: 5px;
}

.series form {
	margin: 0;
}

/*
 * List page date time dialog
 */

.date-time-form-row {
	margin-bottom: 15px;
}
.date-time-form-row .first-label {
	min-width: 40px;
	text-align: right;
}

/*
 * List page modules
 */

.module-content.shown {
	overflow: visible;
}

/*
 * List page events
 */

/* The element which a dialog is a child of. */
.dialog-holder {
	position: relative;
}

/* A modal dialog element. */
.dialog {
	z-index: 950;
	position: absolute;
}

/* An element which covers the entire window behind a dialog. */
.dialog-backdrop {
	z-index: 900;
	background-color: black;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

/* Event fields need a pencil icon when hovering over them */
.event-editable .event-field {
	padding-right: 20px; /* To accommodate the pencil icon */
}

.event-editable .event-field:hover {
 	background-image: url("../img/pencil.png");
 	background-repeat: no-repeat;
 	background-position: 100% 50%;
}

#adminListView .event.highlighted > td {
	background-color: #D3FFD5;
}

.event.event-cancelled .buttons a {
	opacity: .2;
}

.event.event-cancelled .buttons a.remove {
	opacity: .6;
}
 
.event.event-cancelled .event-field {
	text-decoration: line-through;
	background-image: none;
}

/* id selector used to boost priority over Bootstrap */
#adminListView .event-editable.unsaved > td {
	background-color: #fff6e2;
}

#adminListView .event-editable.being-edited > td {
	background-color: #f5e7d0;
}

.dialog-date-time {
	background: white;
}

.dialog-backdrop-date-time {
	opacity: 0.1;	
}

.events.shown {
	overflow: visible;
}

.series-title.collapsed .buttons {
	visibility: hidden;
}

.series-title.collapsed:hover .buttons {
	visibility: visible;
}

.modulesList .moduleContent {
	margin-bottom: 30px;
}

.module-title h4, .series-title h5 {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.module-title {
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, .4);
	border-bottom-width: 2px;
	padding: 10px 0;
	margin-bottom: 10px;
}

.module-title a {
	color: black;
}

.module-title .chevron {
	margin-top: 5px;
	margin-right: 10px;
}

.module-title .buttons {
	visibility: hidden;
}

.module-title:hover .buttons {
	visibility: visible;
}

.module-title.hasOpenSeries .buttons {
	visibility: visible;
}

.seriesList,
.moduleContent > a.btn {
	margin-left: 20px;
}

.module > a.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.series-title {
	padding: 10px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(0, 0, 0, .2);
}

.series-title h5 span {
	margin-right: 8px;
}

.series-title > h5 a input {
	display: none;
}

.module-title .buttons,
.series-title .buttons {
	display: inline;
	padding-left: 20px;
}

.series-title .buttons a {
	margin-top: 4px;
}

.module-title .buttons a {
	margin-top: 6px;
}

.seriesEditActions {
	padding-top: 10px;
	padding-right: 30px;
}

.seriesEditActions .cancel {
	margin-right: 16px;
	margin-top: 4px;
	display: block;
}

.series-title h5 .title {
	color: #08C;
	cursor: pointer;
}

.module-title h4 .title {
	cursor: pointer;
}

.series-title a:hover,
.module-title a:hover {
	text-decoration: none;
}

.series-title a:hover .title,
.module-title a:hover .title {
	text-decoration: underline;
}

.series-title a:hover .title.editable,
.module-title a:hover .title.editable {
	text-decoration: none;
}

.series-title .title.editable,
.module-title .title.editable {
	outline: none;
	border-style: dashed;
	border-width: 1px;
	border-color: rgba(0, 0, 0, .2);
	cursor: inherit;
	color: #000;
}

.series-title .title.saving,
.module-title .title.saving {
	opacity: .4;
}

.series-title .title:focus,
.module-title .title:focus {
	outline: none;
}

.series-title .title,
.module-title .title {
	padding: 5px;
	display: inline-block;
}

.series-title .title.editable,
.module-title .title.editable {
	background-color: #FFF6E2;
}

.series-title .error-message,
.module-title .error-message {
	color: red;
}


/*
 *
 * UI jumping quick fixes
 *
 */
.event .eventActions ul li {
	display: inline;
}

.eventActions .buttons {
	margin: 0;
}

.event .eventActions ul {
	min-width: 70px;
	margin: 0;
}


.event-type {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 24px;
}

.event-type-lecture {
	background-image: url(../img/typeLectureIcon.png);
}

.event-type-seminar {
	background-image: url(../img/typeSeminarIcon.png);
}

.event-type-practical {
	background-image: url(../img/typePracticalIcon.png);
}

.event-type-laboratory {
	background-image: url(../img/typeLaboratoryIcon.png);
}

.event-type-language {
	background-image: url(../img/typeLanguageClassIcon.png);
}

.datePatternDialog {
	min-width: 420px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px 0px;
}

.datePatternDialog h3 {
	font-size: 1em;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 2px;
}

.datePatternDialog h3 a {
	margin: 0;
	padding: 0;
}

.datePatternDialog select {
	width: 150px;
}

.datePatternDialog .popover-content {
	padding: 20px;
}


/*
 * Calendar Styles
 */

#calendarHeading {
	margin-bottom: 15px;
}

#calendarHeading h4 {
	line-height: 1em;
	padding: 2px 15px;
	margin: 0;
}

#calendarHeading .calendarNavigation {
	margin-left: 230px;
}

#calendarHeading .calendarNavigation:last-child {
	margin: 0;
}

.calendarEventInfo h5 {
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left 2px;
}

.calendarEventInfo .actions {
	margin-top: 18px;
}

.calendarEventInfo .actions a {
	margin-top: 5px;
	display: block;
}

.calendarEventInfo .actions a.btn {
	margin: 0;
}

.week-calendar-navigation .value {
	min-width: 118px;
	text-align: center;
}

.term-calendar-navigation .value {
	min-width: 130px;
	text-align: center;
}
